@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Committee" asp-action="Index">Administer Committees</a>
    </p>
    <p><a asp-controller="ChairNomination" asp-action="Index">Create/View Nominations </a>
    </p>
    <p><a asp-controller="Members" asp-action="GetAllActiveCommonsView">Get All Active Commons Members</a>
    </p>
</div>
