@model ChairElections.Models.Committee

<h2>@(ViewContext.RouteData.Values["action"])</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form asp-action="Create" asp-controller="Committee" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        
<span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <input asp-for="Status" class="form-control" />
        
<span asp-validation-for="Status" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="AssignedParty"></label>
        <input asp-for="AssignedParty" class="form-control" />
        
<span asp-validation-for="AssignedParty" class="text-danger"></span>

    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
