@model ChairElections.Models.Committee


@{
    var parties = new List<string>();
    parties = ViewData["PrimeParties"] as List<string>;
}
<h2>@(ViewContext.RouteData.Values["action"])</h2>

<form asp-action="@ViewContext.RouteData.Values["action"]">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <input asp-for="Status" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AssignedParty"></label>
        <select asp-for="AssignedParty" class="form-control" asp-items="new SelectList(parties,Model.AssignedParty)"></select>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
